[submodule "src/common/garrysmod/addons/ulib"]
	path = src/common/garrysmod/addons/ulib
	url = https://github.com/TeamUlysses/ulib
[submodule "src/common/garrysmod/addons/ulx"]
	path = src/common/garrysmod/addons/ulx
	url = https://github.com/TeamUlysses/ulx
[submodule "src/common/garrysmod/addons/gmod-mapvote"]
	path = src/common/garrysmod/addons/gmod-mapvote
	url = https://github.com/7coil/gmod-mapvote.git
[submodule "src/common/garrysmod/addons/pointshop"]
	path = src/common/garrysmod/addons/pointshop
	url = https://github.com/7coil/pointshop.git
